---
layout: layouts/base.njk
title: Home
---

<p>
  I'm Mark Repka, a Software Engineer based in Rochester, NY.
</p>
<h1>Posts</h1>
<ul class="post-list">
  {%- for post in collections.posts %}
    <li class="post-list-entry">
      <h2>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h2>
      <p>
        {{ post.data.description }}
      </p>
      <time datetime="{{ post.date | dateToRfc3339 }}">{{ post.date | readableDate }}</time>
    </li>
  {%- endfor %}
</ul>
<h1>External</h1>
<p>Here are some other external resources I've contributed to:</p>
<ul class="post-list">
  <li class="post-list-entry">
    <h2>
      <a href="https://temporal.io/blog/what-does-take-build-customer-support-experience-users-wont-hate-ask-bitovi">
        What does it take to build a customer support experience your users won't hate? Ask Bitovi.</a>
    </h2>
    <p>
      This blog is a guest post, written by Mark Repka, Software Engineer at Bitovi about building a customer support experience that users won't hate. This is part of the series on Temporal Customer Stories.
    </p>
    <time datetime="2026-05-19">May 19, 2026</time>
  </li>  
  <li class="post-list-entry">
    <h2>
      <a href="https://www.bitovi.com/blog/production-ready-ai-agents-making-langchain-durable-using-temporal">
        Production Ready AI Agents: Making LangChain Durable Using Temporal</a>
    </h2>
    <p>
      Discover how to build durable, scalable AI agents using Temporal and LangChain, managing complex workflows with ease in
      production environments.
    </p>
    <time datetime="2026-02-06">February 6, 2026</time>
  </li>
  <li class="post-list-entry">
    <h2>
      <a href="https://www.bitovi.com/blog/building-durable-mcp-tools-with-temporal">
        Building Durable MCP Tools with Temporal: A Complete Guide
      </a>
    </h2>
    <p>
      Discover how to build durable, scalable AI tools using Model Context Protocol and Temporal in this comprehensive guide.
      Learn to manage complex workflows with ease.
    </p>
    <time datetime="2025-10-17">October 17, 2025</time>
  </li>
</ul>